/* webfont */
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

/* reset */
* { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; color: inherit; }
img { vertical-align: top; }

/* index */
.wrap { width: 1200px; margin: 0 auto; position: relative; }
.wrap:after, ul:after, .cl:after { content: ""; clear: both; display: block; }
body { font: 14px; font-family: 'Nanum Gothic'; }
.blind { position: absolute; left: -9999px; font-size: 0px; width: 0; height: 0; overflow: hidden; }

header { height: 70px; box-shadow: 0 2px 10px rgba(0,0,0,0.2); position: fixed; background: #fff; z-index: 99; width: 100%; }
header h1 { padding-top: 15px; }
header h1 a img { height: 40px; }

header .gnb { position: absolute; left: 230px; top: 27px; }
header .gnb li { float:left; margin-right: 100px; font-size: 16px; font-weight: bold; }

header .snb { position: absolute; right: 0; top: 28px; }
header .snb li { float: left; font-size: 13px; color: #666; }
header .snb li:after { content: "|"; margin: 0 10px; }
header .snb li:last-child:after { display: none; }

.blank { height: 70px; }

#main { background: #f3f2f0; }
#main .slide article { color: #fff; position: absolute; left:60px; top:54px; }
#main .slide h3 { font-size: 30px; font-weight: 900; }
#main .slide article p { margin-top: 20px; font-size: 16px; line-height: 24px; }
#main .slide article a { width: 190px; line-height: 44px;  display: block; border: 1px solid #fff; text-align: center; margin-top: 40px; transition: 0.5s; }
#main .slide article a:hover { background: #fff; color: #000; border-radius: 50px; }
#main .slide article a i { position: relative; top: 1px; margin-left: 10px; }

#main .slide ul { display: flex; justify-content: center; position: absolute; width: 100%; bottom: 30px; }
#main .slide ul li { margin: 0 5px; }
#main .slide ul li a { width: 12px; height: 12px; background: #fff; border-radius: 50px; display: block; text-indent: 30px; overflow: hidden; }
#main .slide ul li.select a{ background: #000; }

#main .slide > a { position: absolute; top:calc(50% - 12px); }
#main .slide .prev { left: -30px; }
#main .slide .next { right: -30px; }


#main .go a { width: 299px; height: 100px; display: block; float:left; background: #fff; border-right: 1px solid #f3f2f0; font-size: 16px; font-weight: 900; display: flex; margin-top: 40px; align-items: center; padding: 0 40px 0 40px; box-sizing: border-box; }
#main .go a:nth-child(1) { background: #fff url(../images/icon1.png) no-repeat right 30px center;  }
#main .go a:nth-child(2) { background: #fff url(../images/icon2.png) no-repeat right 30px center;  }
#main .go a:nth-child(3) { background: #fff url(../images/icon3.png) no-repeat right 30px center;  }
#main .go a:nth-child(4) { background: #fff url(../images/icon4.png) no-repeat right 30px center; border-right: none; }

/* #main .go a { background: #fcf; width: 299px; height: 100px; margin-top: 40px;  display: block; float:left; display: flex; align-items: center; padding: 0 30px 0 40px; box-sizing: border-box; font-size: 18px; font-weight: 900; margin-right: 1px; }
#main .go a:nth-child(1) { background: #fff url(../images/icon1.png) no-repeat right 30px center; }
#main .go a:nth-child(2) { background: #fff url(../images/icon2.png) no-repeat right 30px center; }
#main .go a:nth-child(3) { background: #fff url(../images/icon3.png) no-repeat right 30px center; }
#main .go a:nth-child(4) { background: #fff url(../images/icon4.png) no-repeat right 30px center; width: 300px; margin-right: 0;} */

#bnr { background: #e9e5e4; padding: 40px 0 ; }
#bnr ul li { float: left; width: 400px; }
#bnr ul li p { background: #fff; font-weight: bold; height: 50px; line-height: 44px; padding: 0 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

#bnr .wrap > a { position: absolute; top: calc( 50% - 27px); }
#bnr .prev { left: -30px; }
#bnr .next { right: -30px; }

#dp { background: #f2efec; padding-top: 80px; }
#dp article { padding: 50px 30px 0 30px; width: 400px; float: left; box-sizing: border-box; }
#dp article h3 { font-size: 36px; font-weight: 900; }
#dp article p { font-size: 16px; line-height: 1.4; margin-top: 30px; }
#dp article a { border: 1px solid #000; padding: 0 40px; line-height: 40px; display: inline-block; margin-top: 30px; font-size: 14px; font-weight: bold; }
#dp article i { position:relative; top: 1px; margin-left: 10px; }

#dp .wrap > img { width: 800px; float: left; }

#dp ul { position: absolute; display: flex; bottom: 30px; width: 100%; justify-content: center; }
#dp ul li { margin: 0 5px; }
#dp ul li a { width: 12px; height: 12px; border-radius: 12px; background: #fff; text-indent: 30px; overflow: hidden; display: block; }
#dp ul li.select a { background: #000; }

#dp .wrap>a { position: absolute; top: calc(50% - 12px); }
#dp .prev { left: -30px; }
#dp .next { right: -30px; }

#center { background: #e9e5e4; }
#center h2 { line-height: 120px; font-size: 30px; font-weight: 900; }
#center ul li { width: 300px; float:left; }
#center ul li a { text-transform: uppercase; height: 300px; color: #fff; font-weight: bold; font-size: 16px; display: flex; justify-content: center; align-items: center; text-align: center; line-height: 1.4;}
#center ul li:nth-child(1) a { background: #fff url(../images/main_drv1.jpg) no-repeat center; }
#center ul li:nth-child(2) a { background: #fff url(../images/main_drv2.jpg) no-repeat center; }
#center ul li:nth-child(3) a { background: #fff url(../images/main_drv3.jpg) no-repeat center; }
#center ul li:nth-child(4) a { background: #fff url(../images/main_drv4.jpg) no-repeat center; }

#loc { padding: 80px 0 20px; }
#loc ul li { float: left; margin-right: 30px; }
#loc ul li:last-child { margin-right: 0;}
#loc ul li p { font-weight: bold; line-height: 60px; padding: 0 6px; box-sizing: border-box; }
#loc .wrap>a { position: absolute; display: flex; width: 45px; height: 45px; background: rgba(225,225,225,0.9); top: calc(50% - 53px); justify-content: center; align-items: center; }
#loc .wrap>a img { height: 12px; }
#loc .prev { left: 0; }
#loc .next { right: 0; }

footer { background: #252525; color: #ccc; font-size: 12px; }
footer .info { padding-top: 50px; }
footer .info .link li { float: left; }
footer .info .link li:after { content: "|"; margin: 0 20px; }
footer .info .link li:last-child:after { display: none; }
footer .info .link li a i { font-style: normal; font-size: 10px; }

footer address { line-height: 26px; margin-top: 28px; font-style: normal; }
footer address span { margin-right: 50px; }
footer address span:last-child { margin-right: 0; display: block; }

footer .sns { position: absolute; right: 0; bottom: 4px; }
footer .sns li { float: left; margin-left: 20px; }
footer .sns a img { height: 20px; }

footer .bg { background: #1c1b1b; margin-top: 40px; }
footer .bg .wrap { display: flex; align-items: center; justify-content: space-between; height: 60px; }
footer .bg .wrap:after { display: none; }
footer .bg img { height: 20px; }